{
  "image_configuration": {
    "dither_algorithm": "2",
    "alpha_dither": "yes",
    "layout_rotation": "0",
    "opaque_image_format": "RGB565",
    "nonopaque_image_format": "ARGB8888",
    "l8_compression": "no",
    "rgb_compression": "no",
    "section": "ExtFlashSection",
    "extra_section": "ExtFlashSection",
    "images": {
      "DA_10FPS_PNG_V2\\Comp 4_00019.png": {
        "format": "RGB888"
      },
      "DA_10FPS_PNG_V2\\Comp 4_00006.png": {
        "format": "RGB888"
      },
      "DA_10FPS_PNG_V2\\Comp 4_00021.png": {
        "format": "RGB888"
      },
      "DA_10FPS_PNG_V2\\Comp 4_00004.png": {
        "format": "RGB888"
      },
      "Coffee\\Mocha_grad.png": {
        "format": "RGB888"
      },
      "Speaker\\speaker_icon_33.png": {
        "format": "ARGB8888"
      },
      "DA_10FPS_PNG_V2\\Comp 4_00012.png": {
        "format": "RGB888"
      },
      "DA_10FPS_PNG_V2\\Comp 4_00003.png": {
        "format": "RGB888"
      },
      "Coffee\\Americano_grad.png": {
        "format": "RGB888"
      },
      "DA_10FPS_PNG_V2\\Comp 4_00017.png": {
        "format": "RGB888"
      },
      "DA_10FPS_PNG_V2\\Comp 4_00024.png": {
        "format": "RGB888"
      },
      "DA_10FPS_PNG_V2\\Comp 4_00016.png": {
        "format": "RGB888"
      },
      "DA_10FPS_PNG_V2\\Comp 4_00013.png": {
        "format": "RGB888"
      },
      "DA_10FPS_PNG_V2\\Comp 4_00023.png": {
        "format": "RGB888"
      },
      "Coffee\\Hot_water_grad.png": {
        "format": "RGB888"
      },
      "Speaker\\speaker_icon_1.png": {
        "format": "ARGB8888"
      },
      "DA_10FPS_PNG_V2\\Comp 4_00002.png": {
        "format": "RGB888"
      },
      "Speaker\\speaker_icon_66.png": {
        "format": "ARGB8888"
      },
      "DA_10FPS_PNG_V2\\Comp 4_00027.png": {
        "format": "RGB888"
      },
      "new_main\\hob_vert_bg.png": {
        "format": "RGB888"
      },
      "new_main\\volume_vert_bg.png": {
        "format": "RGB888"
      },
      "new_main\\coffee_vert_bg.png": {
        "format": "RGB888"
      },
      "DA_10FPS_PNG_V2\\Comp 4_00009.png": {
        "format": "RGB888"
      },
      "Oventemp_3.png": {
        "format": "RGB888"
      },
      "Coffee\\Cappuccino_grad.png": {
        "format": "RGB888"
      },
      "Speaker\\speaker_icon_0.png": {
        "format": "ARGB8888"
      },
      "DA_10FPS_PNG_V2\\Comp 4_00001.png": {
        "format": "RGB888"
      },
      "DA_10FPS_PNG_V2\\Comp 4_00018.png": {
        "format": "RGB888"
      },
      "new_main\\oven_vert_bg.png": {
        "format": "RGB888"
      },
      "DA_10FPS_PNG_V2\\Comp 4_00005.png": {
        "format": "RGB888"
      },
      "DA_10FPS_PNG_V2\\Comp 4_00026.png": {
        "format": "RGB888"
      },
      "DA_10FPS_PNG_V2\\Comp 4_00022.png": {
        "format": "RGB888"
      },
      "DA_10FPS_PNG_V2\\Comp 4_00011.png": {
        "format": "RGB888"
      },
      "Coffee\\Latte_grad.png": {
        "format": "RGB888"
      },
      "DA_10FPS_PNG_V2\\Comp 4_00008.png": {
        "format": "RGB888"
      },
      "DA_10FPS_PNG_V2\\Comp 4_00020.png": {
        "format": "RGB888"
      },
      "DA_10FPS_PNG_V2\\Comp 4_00007.png": {
        "format": "RGB888"
      },
      "DA_10FPS_PNG_V2\\Comp 4_00010.png": {
        "format": "RGB888"
      },
      "new_main\\exercise_vert_bg.png": {
        "format": "RGB888"
      },
      "DA_10FPS_PNG_V2\\Comp 4_00000.png": {
        "format": "RGB888"
      },
      "Cycle_icon.png": {
        "format": "ARGB8888"
      },
      "Coffee\\Espresso_grad.png": {
        "format": "RGB888"
      },
      "DA_10FPS_PNG_V2\\Comp 4_00015.png": {
        "format": "RGB888"
      },
      "DA_10FPS_PNG_V2\\Comp 4_00014.png": {
        "format": "RGB888"
      },
      "DA_10FPS_PNG_V2\\Comp 4_00025.png": {
        "format": "RGB888"
      },
      "Stretch_icon.png": {
        "format": "ARGB8888"
      },
      "Run_icon.png": {
        "format": "ARGB8888"
      }
    }
  },
  "text_configuration": {
    "cache_size": 4096,
    "remap": "yes",
    "a4": "yes",
    "binary_translations": "no",
    "binary_fonts": "no",
    "framebuffer_bpp": "24",
    "font_format": "0",
    "copy_translations_to_ram": "no"
  }
}